@charset "utf-8";

/*全体*/
.wrapper2 {
    color: #666;
}

/*カレンダー*/
#calendar2 {
    text-align: center;
    width: 100%;
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th,
td {
    color:black;
    border: none;
    padding-top: 12px;
    padding-bottom: 3px;
    font-family: fantasy;
    font-size: large;
    text-align: center;
}

/*日曜日*/
td:first-child {
    color: rgb(254, 112, 112);
}

/*土曜日*/
td:last-child {
    color: rgb(126, 126, 255);
}

/*前後月の日付*/
td.disabled {
    color: #ccc;
}

/*本日*/
td.today {
    display: inline-block;
    border-bottom: #B78D4A solid 5px;
}

td.burning {
    font-size: 1px;
    display: inline-flexbox;
    border-bottom: 2px rgb(255, 196, 196) solid;
}
td.blueing {
    font-size: 1px;
    display: inline-flexbox;
    border-bottom: 2px rgb(196, 196, 255) solid;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}

#next-prev-button button {
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}

#next-prev-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;
}

#prev {
    float: left;
}

#next {
    float: right;
}