@charset "utf-8";

/* 全体 */
.wrapper2 {
    color: #666;
}

/* カレンダー */
#calendar2 {
    text-align: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: none; /* テーブルの線を削除 */
}

th, td {
    color: black;
    padding-top: 12px;
    padding-bottom: 3px;
    font-family: fantasy; /* 元のフォントを使用 */
    font-size: large;
    text-align: center;
    border: none; /* セルの線を削除 */
}

/* 日曜日 */
td:first-child {
    color: rgb(254, 112, 112);
}

/* 土曜日 */
td:last-child {
    color: rgb(126, 126, 255);
}

/* 前後月の日付 */
td.disabled {
    color: #ccc;
}

/* 本日 */
td.today {
    display: inline-block;
    border-bottom: #B78D4A solid 5px;
}

/* ごみの種類によって色を変える */
td.burning {
    background-color: rgb(255, 200, 200); /* 燃えるごみ：淡い赤色 */
}

td.paper {
    background-color: rgb(255, 250, 200); /* 紙製品：淡い黄色 */
}

td.blueing {
    background-color: rgb(200, 200, 255); /* プラスチック：淡い青色 */
}

td.no_burning {
    background-color: rgb(200, 255, 200); /* 燃やせないごみ：淡い緑色 */
}

td.mix {
    background-color: rgb(255, 200, 255); /* 混合物：淡い紫色 */
}

/* ボタン */
#next-prev-button {
    position: relative;
}

#next-prev-button button {
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: none; /* ボタンの枠線を削除 */
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}

#next-prev-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;
}

#prev {
    float: left;
}

#next {
    float: right;
}
