/*検索フォームのcss*/
#form2{
    max-width:300px;	
    margin-bottom:20px;
    }
    #sbox2{
    height:40px;
    padding:0 10px; 
    border:none;
    top:0; 
    border-radius:2px;
    outline:0;
    background:rgba(238, 238, 238, 0.753);	
    }
    #sbtn2{
    position:relative; 
    height:40px;
    right: 40px;/*アイコン左右の位置調整*/
    top: 4px;
    background:none;
    color:#666;
    border:none;
    font-size:20px;/*アイコンサイズ*/
    }
    #sbtn5:hover{
    color:#7fbfff;
    }