{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="sideNav">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">ecoco ~宇部市ゴミ捨てガイド~</span>
    <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
        src="{% static 'img/ecoco.jpg' %}" alt="..." /></span>
  </a>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">ホーム</a></li>
      <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/calendar">カレンダー</a></li> -->
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/separation">分別</a></li>
      <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/search">画像検索</a></li> -->
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/place">ゴミ捨て場所</a></li>
    </ul>
  </div>
</nav>