{% extends "base.html" %}

{% block main %}
<!--カレンダー-->
<div>
  <h1 class="m-5">カレンダー</h1>
</div>
<div class="container">
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">        
      <h2>
        今日は{% now "Y年m月d日" %}
      </h2>
      <h3>
        <span class="text-danger">燃えるゴミ</span>の日です
      </h3>

      <p>地域： <span id="selectedarea"></span></p>
      <form name="form">
        <select name="area">
          <option value="none">選択してください</option>
          <option value="東岐波" onselect="higasiokinami()">東岐波</option>
          <option value="常盤" onselect="tokiwa()">常盤</option>
          <option value="岬" onselect="misaki()">岬</option>
          <option value="神原" onselect="kanbara()">神原</option>
          <option value="上宇部" onselect="kamiube()">上宇部</option>
          <option value="小羽山" onselect="obayama()">小羽山</option>
          <option value="鵜の島" onselect="unosima()">鵜の島</option>
          <option value="西宇部" onselect="nisiube()">西宇部</option>
          <option value="厚南" onselect="kounann()">厚南</option>
          <option value="厚東" onselect="kotou()">厚東</option>
          <option value="小野" onselect="ono()">小野</option>
          <option value="万倉" onselect="magura()">万倉</option>
          <option value="西岐波" onselect="nisiokinami()">西岐波</option>
          <option value="恩田" onselect="onda()">恩田</option>
          <option value="見初" onselect="mizome()">見初</option>
          <option value="琴芝" onselect="ktoshiba()">琴芝</option>
          <option value="川上" onselect="kawakami()">川上</option>
          <option value="新川" onselect="shinkawa()">新川</option>
          <option value="藤山" onselect="huziyama()">藤山</option>
          <option value="黒石" onselect="kuroishi()">黒石</option>
          <option value="原" onselect="hara()">原</option>
          <option value="二俣瀬" onselect="hutamatase()">二俣瀬</option>
          <option value="舟木" onselect="hunaki()">舟木</option>
          <option value="吉部" onselect="kibekami()">吉部</option>
        </select>
      </form>
      <input class="mt-3" type="button" value="決定" onclick="clickBtn()"/>

     <!--以下はカレンダーを表す-->
      <div class="wrapper">
        <!--xxxx年xx月を表示-->
        <h1 class="mt-5" id="header"></h1>
        

        <!--ボタンクリックで月移動-->
        <div id="next-prev-button">
          <button id="prev" onclick="prev()"><</button>
          <button id="next" onclick="next()">></button>
        </div>

        <!--カレンダー-->
        <div id="calendar2"></div>
      </div>
      <div class="mt-3">
        <font color="#FF6666">■</font>が燃えるごみの日です。
      </div>
    </div>
  </div>
</div>
{% endblock %}