{% extends "base.html" %}

{% block main %}
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                宇部市ごみ捨てガイド
                <span class="text-success">ecoco</span>
            </h1>

            <p class="lead mb-5">
                宇部市のごみの捨て方が分からないという方向けのサービスになっています。
            </p>

            <div style="font-size: 30px;">
                <p><a href="/calendar">カレンダーページへ</a></p>
                <p><a href="/separation">分別ページへ</a></p>
                <!-- <p><a href="/search">画像検索ページへ</a></p> -->
                <p><a href="/place">ゴミ捨て場所ページへ</a></p>
            </div>
            
        </div>
    </section>
{% endblock %}
