{% extends "base.html" %}

{% load static %}

{% block main %}
<div class="container">
    <h2 class="line text-center">
        マイページ
        <span class="subtitle">&nbsp;&nbsp;&nbsp;Mypage</span>
    </h2>

    <h4 class="mb-4">ユーザ名：{{ user.username }}</h4>
    <h4 class="mb-4">メールアドレス：{{ user.email }}</h4>
    <h4 class="mb-4">地域： <span id="selectedArea">{{ user.area }}</span></h4>

    <!-- <ul>
        <li>ユーザ名：{{ user.username }}</li>
        <li>メールアドレス：{{ user.email }}</li>
        <li>地域： <span id="selectedArea">{{ user.area }}</span></li>
        <li>今月のごみ捨て回数：</li>
    </ul> -->
    <button onclick="toggleDropdown()">地域変更</button>

    <div id="areaDropdown" style="display: none;">
        <form name="form" method="post">
            {% csrf_token %}
            <select id="district" name="district" onchange="this.form.submit()">
              <option value="" selected>地区を選択してください</option>
              <option value="東岐波">東岐波</option>
              <option value="常盤">常盤</option>
              <option value="岬">岬</option>
              <option value="神原">神原</option>
              <option value="上宇部">上宇部</option>
              <option value="小羽山">小羽山</option>
              <option value="鵜の島">鵜の島</option>
              <option value="西宇部">西宇部</option>
              <option value="厚南">厚南</option>
              <option value="厚東">厚東</option>
              <option value="小野">小野</option>
              <option value="万倉">万倉</option>
              <option value="西岐波">西岐波</option>
              <option value="恩田">恩田</option>
              <option value="見初">見初</option>
              <option value="琴芝">琴芝</option>
              <option value="川上">川上</option>
              <option value="新川">新川</option>
              <option value="藤山">藤山</option>
              <option value="黒石">黒石</option>
              <option value="原">原</option>
              <option value="二俣瀬">二俣瀬</option>
              <option value="舟木">舟木</option>
              <option value="吉部">吉部</option>
            </select>
          </form>
    </div>
    

    <!-- <a class="nav-link js-scroll-trigger" href="/account/email/">メールアドレス変更</a> -->
    <br></br>
    <a href="/account/logout/">ログアウト</a>
</div>

<script>
    // プルダウンの表示・非表示を切り替える関数
    function toggleDropdown() {
        var dropdown = document.getElementById("areaDropdown");
        dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
    }
</script>

{% endblock %}