{% extends "base.html" %}

{% block main %}
<div class="container">
  <h2 class="line text-center">
    ゴミ捨て場所
    <span class="subtitle">&nbsp;&nbsp;&nbsp;dumpsite</span>
  </h2>
</div>
<div class="container mt-5">
  <p>宇部市の主なゴミ回収・処理施設を地図上に表示しています。</p>
  <li>宇部市環境保全センター</li>
  <li>新町資源ごみ拠点回収施設</li>
  <li>黒石ふれあいセンター</li>
  <li>東岐波ふれあいセンター</li>
  <li>東見初埋立地</li>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=APIkey&callback=initMap"></script>

<body>
  <style>
  #ecoco_map {
      height: 100%;
      width: 80%;
      margin: 0 auto;
  }
  html, body {
      height: 100%;
  }
  </style>
  <div id="ecoco_map"></div>
  <script>
    var map;
    var marker = [];
    var infoWindow =[];
    var markerData = [
      {
        name: '宇部市環境保全センター',
        lat: 33.93415,
        lng: 131.24220
      }, {
        name: '東見初埋立地',
        lat: 33.92883,
        lng: 131.24990
      }, {
        name: '新町資源ごみ拠点回収施設',
        lat: 33.95034,
        lng: 131.24396
      }, {
        name: '黒石ふれあいセンター',
        lat: 33.98608,
        lng: 131.20715
      }, {
        name: '東岐波ふれあいセンター',
        lat: 33.98302,
        lng: 131.34004
      }
    ];

  function initMap() {
      //地図の作成
      var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
      map = new google.maps.Map(document.getElementById('ecoco_map'), { // #ecoco_mapに地図を埋め込む
        center: mapLatLng, // 地図の中心を指定
        zoom: 15
      });

    // マーカー毎の処理
      for (var i = 0; i < markerData.length; i++) {
          markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
          marker[i] = new google.maps.Marker({ // マーカーの追加
            position: markerLatLng, // マーカーを立てる位置を指定
                map: map // マーカーを立てる地図を指定
          });
 
        infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
            content: '<div class="sample">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
        });
 
        markerEvent(i); // マーカーにクリックイベントを追加
    }
  }
 
    // マーカーにクリックイベントを追加
    function markerEvent(i) {
      marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    });
}
  </script>
</body>
{% endblock %}