{% extends "base.html" %}

{% block main %}
<div class="container">
  <h2 class="line text-center">
    ゴミ捨て場所
    <span class="subtitle">&nbsp;&nbsp;&nbsp;dumpsite</span>
  </h2>
</div>
<div class="container mt-5">
  <p>宇部市のゴミ処理施設の一覧です。</p>

  <ul>
    <li><a href="https://www.city.ube.yamaguchi.jp/kurashi/gomi/gomishori/1002019/index.html">環境保全センター</a></li>
    <li><a href="https://www.city.ube.yamaguchi.jp/koukyouannai/shisetsu_kurashi/shisetsu_gomi/1009983/1009984.html">新町資源ごみ拠点回収施設</a></li>
    <li><a href="https://www.city.ube.yamaguchi.jp/koukyouannai/shisetsu_kurashi/shisetsu_gomi/1009983/1009985.html">黒石ふれあいセンター北側資源ごみ拠点回収施設</a></li>
    <li><a href="https://www.city.ube.yamaguchi.jp/kurashi/gomi/gomishori/1014452/1002014.html">宇部市一般廃棄物最終処分場</a></li>
  </ul>


</div>
{% endblock %}