{% extends "base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'js/search.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.quicksearch.min.js' %}"></script>
<script>
  $(function () {
    $('input#id_search').quicksearch('table tbody tr');
  });
</script>
{% endblock %}

{% block main %}

<div class="container">
  <div>
    <h2 class="mb-5 line text-center">分別<span class="subtitle">&nbsp;&nbsp;&nbsp;separation</span></h2>
  </div>
  <div class="flex-grow-1">
    <h3 class="mb-3">分別方法の調べ方</h3>
    <div class="mb-3">分別方法を知りたいものの名前で検索したら表示されます。</div>
  </div>

  <!--検索フォーム-->
  <form action="#" class="search-form-005" id="form2">
    <label>
        <input id="id_search" name="search" type="text" placeholder="キーワードを入力">
    </label>
    <button type="submit" aria-label="検索" id="sbtn2"></button>
</form>

  <script>

    function clearText() {
      let txtVal = document.getElementById("id_search");
      txtVal.value = '';
    }
  
  </script>
  


  <table class="table table-striped" id="separation-table">
    <thead class="sticky-top bg-white">
      <tr>
        <th scope="col">名前</th>
        <th scope="col">種類</th>
        <th scope="col">メモ</th>
        <!-- <th scope="col">ふりがな</th> -->
      </tr>
    </thead>
    <tbody>
      {% for i in item %}
      <tr class="displaynone">
        <th scope="rowgroup" class="w-50"><span class="highlight">{{ i.label }}</span></th>
        <td class="w-25">{{ i.name }}</td>
        <td class="w-auto">{{ i.notice }}</td>

        <!-- <td class="w-25">{{ i.furigana }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}