{% extends "base.html" %}

{% block main %}
<div>
  <h1 class="m-5">設定</h1>
</div>
<div class="container">
   <!--ゴミ出しの日を通知するかどうか-->
   <li>通知</li>
   <div class="switchArea">
       <input type="checkbox" id="switch1">
       <label for="switch1"><span></span></label>
       <div id="swImg"></div>
   </div>

   <!--宇部市内の地域を選択-->
   <li>地域設定</li>
   <p>地域： <span id="selectedarea"></span></p>
    
   <form name="form">
      <select name="area">
        <option value="none">選択してください</option>
        <option value="東岐波">東岐波</option>
        <option value="常盤">常盤</option>
        <option value="岬">岬</option>
        <option value="神原">神原</option>
        <option value="上宇部">上宇部</option>
        <option value="小羽山">小羽山</option>
        <option value="鵜の島">鵜の島</option>
        <option value="西宇部">西宇部</option>
        <option value="厚南">厚南</option>
        <option value="厚東">厚東</option>
        <option value="小野">小野</option>
        <option value="万倉">万倉</option>
        <option value="西岐波">西岐波</option>
        <option value="恩田">恩田</option>
        <option value="見初">見初</option>
        <option value="琴芝">琴芝</option>
        <option value="川上">川上</option>
        <option value="新川">新川</option>
        <option value="藤山">藤山</option>
        <option value="黒石">黒石</option>
        <option value="原">原</option>
        <option value="二俣瀬">二俣瀬</option>
        <option value="舟木">舟木</option>
        <option value="吉部">吉部</option>
      </select>
    </form>

<input type="button" value="決定" onclick="clickBtn()"/>

</div>
{% endblock %}